body {
    background-color: black;
    font-family: Arial;
}
.gray-button {
    background-color: rgb(51, 51, 51);
    color: white;
}
.orange-button {
    background-color: rgb(254, 160, 10);
}
.calculator-button {
    height: 60px;
    width: 60px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
    border: none;
}
.clear-button {
    font-size: 18px;
}
.display-calculation {
    color: white;
    font-size: 60px;
    margin: 10px;
    ;
}